body{
    font-family: 'Poppins', sans-serif;
    /* margin: 0; */
}
h1{

}
.orange-color{
   color: #ffa500;
}
.flex-box{
    display: flex;
    margin-bottom: 100px;
}
.top-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    box-sizing: border-box;
}
.half-width img{
    width: 80%;
}
.link-button{
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(rgb(255, 81, 0), tomato);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 5px;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    box-shadow: 10px 10px  30px grey;
    width:40%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
}
.ex-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
    margin-bottom: 100px;
}
.work-bio{
    display: flex;
    margin: 5px;
}
.div{
    padding: 35px 30px;
    margin: 10px 40px;
    box-sizing: border-box;
    text-align: justify;
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    border-radius: 5px;
}
.full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, purple, tomato);
    border-image-slice: 1;
}
.baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 2;
}
footer p{
    text-align: center;
}